<html>

<head>
    <!-- Include Quill stylesheet -->
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">


    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/editor.css">
    <nav class="navbar navbar-light bg-light">

        <a class="navbar-brand ms-3" href="/">
            <h2>Engag<b>Ed</b></h2>
        </a>
        <a id="courseTitle" contenteditable="false" class="document-title">Yannik the course title goes here</a>
    </nav>

</head>

<body>
    <!-- Lesson output goes here! -->

    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
    <script src="assets/js/customQuill.js"></script>
    <script src="assets/js/publish-client.js"></script>
</body>

</html>