<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Amogus</h1>
    <ul>
    <% data.forEach(function(dat) { %>
        <li><%= dat %></li>
        <li><%= dat.image%></li>
        <li><%= dat.description%></li>
    <% }); %>
    </ul>
    <% include('Baka.ejs') %>
  </body>
</html>
