<html>

<head>
  <!-- Include Quill stylesheet -->
  <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/editor.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

  <nav class="navbar navbar-light bg-light">

    <a class="navbar-brand ms-3" href="/">
      <h2>Engag<b>Ed</b></h2>
    </a>
    <a id="courseTitle" contenteditable="true" class="document-title">Name Your Course</a>
    <button class="btn btn-outline-success my-2 my-sm-0 me-3" onclick="uploadEditorContent()">Create</button>

  </nav>

</head>

<body>
  <!-- Add site header with padding-->

  <!-- Add site content with padding-->
  <!-- Create the toolbar container -->
  <div id="toolbar">
    <select class="ql-size">
      <option value="small">Caption</option>
      <!-- Note a missing, thus falsy value, is used to reset to default -->
      <option selected></option>
      <option value="large">Section</option>
      <option value="huge">Title</option>
    </select>
    <button class="ql-divider"></button>

    <select class="ql-align"></select>
    <button class="ql-bold">Bold</button>
    <button class="ql-italic">Italic</button>
    <button class="ql-underline">Underline</button>
    <select class="ql-color"></select>
    <select class="ql-background"></select>

    <button class="ql-divider"></button>

    <button class="ql-video">Video</button>
    <button class="ql-image"></button>
    <button class="ql-link"></button>
    <button class="ql-formula"></button>
    <button class="ql-blockquote"></button>
    <button class="ql-formula"></button>

    <button class="ql-divider"></button>

    <button class="ql-list" value="ordered"></button>
    <button class="ql-list" value="bullet"></button>
    <button class="ql-indent" value="-1"></button>
    <button class="ql-indent" value="+1"></button>

    <button class="ql-divider"></button>

    <button id="longAnswer"><img src="https://img.icons8.com/fluency-systems-regular/18/000000/hand-with-pen.png"/></button>
    <button id="multipleChoice"><img src="https://img.icons8.com/material-outlined/18/000000/multiple-choice.png"/></button>

  </div>
  <!-- <div id="sidebar-controls">
    <button id="image-button"><i class="fa fa-camera"></i></button>
    <button id="video-button"><i class="fa fa-play"></i></button>
    <button id="tweet-button"><i class="fa fa-twitter"></i></button>
    <button id="divider-button"><i class="fa fa-minus"></i></button>
  </div> -->

  <!-- Create the editor container -->
  <div id="editor">
    <p>Hello world!</p>
  </div>

  <!-- Include the Quill library -->
  <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
  <script src="assets/js/customQuill.js"></script>
  <script src="assets/js/publish-client.js"></script>
</body>

</html>
