#board {
  display: flex;
  flex-direction: row;
}

.column {
  width: 30em;
  border-right: 1px solid lightgray;
  padding: 0.75rem;
  flex-direction: column;
  display: flex;
}

.card {
  position: relative;
}

.card .buttons {
  display: none;
  padding: 0.5rem;
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
}

.card:hover .buttons {
  display: flex;
}
